body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Roboto", "Lucida Sans";
}

header::after {
  content: url("../images/theater-image-background.png");
  justify-self: center;
}

a:hover {
  color: chocolate;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  gap: 30px;
  margin-left: 0px;
  padding: 25px;
  align-items: center;
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

aside1 {
  grid-area: sidebar1;
}

aside2 {
  grid-area: sidebar2;
}

aside3 {
  grid-area: sidebar3;
}

main {
  grid-area: main;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 350px;
}

main1 {
  grid-area: main1;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 300px;
}

main2 {
  grid-area: main2;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 350px;
}

main3 {
  grid-area: main3;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 300px;
}

main4 {
  grid-area: main4;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 350px;
}

main5 {
  grid-area: main5;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 300px;
}

main6 {
  grid-area: main6;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 350px;
}

main7 {
  grid-area: main7;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 0px;
  justify-content: left;
  width: 300px;
}

.hero-text {
  color: rgb(250, 247, 247);
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: grid;
  justify-items: center;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    "header header header header"
    "sidebar sidebar main main1"
    "sidebar1 sidebar1 main2 main3"
    "sidebar2 sidebar2 main4 main5"
    "sidebar3 sidebar3 main6 main7"
    "logo footer-two footer-three footer-four";
}

.title {
  margin-right: 200px;
  color: chocolate;
}

.logo {
  grid-area: logo;
  width: 300;
  background-color: black;
  margin-bottom: 0px;
  padding: 0px;
  justify-content: space-evenly;
  justify-content: center;
}

.f-two {
  grid-area: footer-two;
  font: chocolate;
  width: 350px;
  background-color: black;
  list-style-type: none;
  justify-content: space-evenly;
  justify-content: stretch;
}

.f-three {
  grid-area: footer-three;
  font: chocolate;
  width: 350px;
  background-color: black;
  list-style-type: none;
  justify-content: space-evenly;
  justify-content: stretch;
}

.f-four {
  grid-area: footer-four;
  font: chocolate;
  width: 350px;
  background-color: black;
  list-style-type: none;
  justify-content: space-evenly;
  justify-content: stretch;
}

.sidebar-items {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer {
  background-color: black;
  font: chocolate;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
  list-style-type: none;
}

@media (max-width: 1250px) {
  header::after {
    content: url("../images/theater-image-background.900.png");
  }

  .splash {
    font-size: 60px
  }
}

@media (max-width: 950px) {
  header::after {
    content: url("../images/theater-image-background.500.png");
  }
  .splash {
    font-size: 40px
  }
  body {
    background-color: black;
    font: white;
  }
  nav {
    display:none;
  }
  .sidebar {
    display: none;
  }
  .f-one {
    display: none;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer-two footer-three footer-four";
  }
  main {
    margin: 0px, 20px, 20px;
  }
}
@media (max-width: 600px) {
  header::after {
    content: url("../images/theater-image-background.500.png");
  }
  body {
    background-color: black;
    font: white;
  }
  .splash {
    font-size: 30px
  }
  nav {
    display:none;
  }
  @media (max-width: 300px) {
    header::after {
      content: url("../images/theater-image-background.200.png");
    }
    body {
      background-color: black;
      font: white;
    }
    .splash {
      font-size: 20px
    }
    nav{
      display:none;
    }